/*
 * This file is a modified version of the code originally created by Luke Smith
 * Modifications: Project structure changes (Compare with original for exact changes)
 * Modified by: Alaa Mroue
 * Date of Modification: 04.2023
 *
 * Find the orignal code in OriginalSourceCode.zip
 * OriginalSourceCode.zip: Is a snapshot of the src folder from https://github.com/lukeshope/hipims-ocl based on 1e62acf6b9b480e08646b232361b68c1827d91ae
 */

 /*
 *  HYDRAULIC MODEL
 *  Luke Smith, 2011.
 *  luke@smith.ac
 *
 *  School of Civil Engineering & Geosciences
 *  Newcastle University
 * 
 * ------------------------------------------
 *  OpenCL Code Resources
 * ------------------------------------------
 *
 */

// OpenCL Header Files
CLUniversalHeader_H		OpenCLCode			"OpenCLSources\CLUniversalHeader.clh"

CLFriction_H			OpenCLCode			"OpenCLSources\CLFriction.clh"
CLSchemeMUSCLHancock_H	OpenCLCode			"OpenCLSources\CLSchemeMUSCLHancock.clh"
CLSchemeInertial_H		OpenCLCode			"OpenCLSources\CLSchemeInertial.clh"
CLSchemeGodunov_H		OpenCLCode			"OpenCLSources\CLSchemeGodunov.clh"
CLSolverHLLC_H			OpenCLCode			"OpenCLSources\CLSolverHLLC.clh"
CLDynamicTimestep_H		OpenCLCode			"OpenCLSources\CLDynamicTimestep.clh"
CLDomainCartesian_H		OpenCLCode			"OpenCLSources\CLDomainCartesian.clh"
CLSlopeLimiterMINMOD_H	OpenCLCode			"OpenCLSources\CLSlopeLimiterMINMOD.clh"
CLBoundaries_H			OpenCLCode			"OpenCLSources\CLBoundaries.clh"

// OpenCL Main Files
CLFriction_C			OpenCLCode			"OpenCLSources\CLFriction.clc"
CLSchemeMUSCLHancock_C	OpenCLCode			"OpenCLSources\CLSchemeMUSCLHancock.clc"
CLSchemeInertial_C		OpenCLCode			"OpenCLSources\CLSchemeInertial.clc"
CLSchemeGodunov_C		OpenCLCode			"OpenCLSources\CLSchemeGodunov.clc"
CLSolverHLLC_C			OpenCLCode			"OpenCLSources\CLSolverHLLC.clc"
CLDynamicTimestep_C		OpenCLCode			"OpenCLSources\CLDynamicTimestep.clc"
CLDomainCartesian_C		OpenCLCode			"OpenCLSources\CLDomainCartesian.clc"
CLSlopeLimiterMINMOD_C	OpenCLCode			"OpenCLSources\CLSlopeLimiterMINMOD.clc"
CLBoundaries_C			OpenCLCode			"OpenCLSources\CLBoundaries.clc"
