/*
 *  HYDRAULIC MODEL
 *  Luke Smith, 2011.
 *  luke@smith.ac
 *
 *  School of Civil Engineering & Geosciences
 *  Newcastle University
 * 
 * ------------------------------------------
 *  OpenCL Code Resources
 * ------------------------------------------
 *
 */

// OpenCL Header Files
CLUniversalHeader_H		OpenCLCode			"opencl\CLUniversalHeader.clh"

CLFriction_H			OpenCLCode			"opencl\CLFriction.clh"
CLSchemeMUSCLHancock_H	OpenCLCode			"opencl\CLSchemeMUSCLHancock.clh"
CLSchemeInertial_H		OpenCLCode			"opencl\CLSchemeInertial.clh"
CLSchemeGodunov_H		OpenCLCode			"opencl\CLSchemeGodunov.clh"
CLSolverHLLC_H			OpenCLCode			"opencl\CLSolverHLLC.clh"
CLDynamicTimestep_H		OpenCLCode			"opencl\CLDynamicTimestep.clh"
CLDomainCartesian_H		OpenCLCode			"opencl\CLDomainCartesian.clh"
CLSlopeLimiterMINMOD_H	OpenCLCode			"opencl\CLSlopeLimiterMINMOD.clh"
CLBoundaries_H			OpenCLCode			"opencl\CLBoundaries.clh"

// OpenCL Main Files
CLFriction_C			OpenCLCode			"opencl\CLFriction.clc"
CLSchemeMUSCLHancock_C	OpenCLCode			"opencl\CLSchemeMUSCLHancock.clc"
CLSchemeInertial_C		OpenCLCode			"opencl\CLSchemeInertial.clc"
CLSchemeGodunov_C		OpenCLCode			"opencl\CLSchemeGodunov.clc"
CLSolverHLLC_C			OpenCLCode			"opencl\CLSolverHLLC.clc"
CLDynamicTimestep_C		OpenCLCode			"opencl\CLDynamicTimestep.clc"
CLDomainCartesian_C		OpenCLCode			"opencl\CLDomainCartesian.clc"
CLSlopeLimiterMINMOD_C	OpenCLCode			"opencl\CLSlopeLimiterMINMOD.clc"
CLBoundaries_C			OpenCLCode			"opencl\CLBoundaries.clc"
